@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-fade{
  background: linear-gradient(87deg, #171616 0.75%, #411D14 96.52%);
}
.bg-grey{
  background-color: #171616;
}
html, body{
  font-family: 'Urbanist', sans-serif;
  text-align: left;
  color: white;
  box-sizing: border-box;

}

.text-160{
  font-size: 160px;
}
.line-height{
  line-height: 0.966;
}

.text-blue{
  color: #00BDF9
}

.text-green{
  color: #00F99B;
}

.text-yellow{
  color: #E5F900;
}

.text-orange{
  color: #F46F51;
}
.orange-bg{
  background-color: #F46F51;
}
.orange-bg-light{
  background-color: rgba(244, 111, 81, 0.16);
}

.bg-blue{
  background-color: #00BDF9;
}

.bg-green{
  background-color: #00F99B;
}

.bg-yellow{
  background-color: #E5F900;
}

.main-grid{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
    height: 100%;
    width: 100%;
    column-gap: 25px;
}

.top3artists-grid {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }

  .h-100{
    height: 100px;
  }

  .w-100{
    width: 100px;
  }

  .topartist-bg1{
    background: linear-gradient(205deg, #DBE661 16.13%, #9E9F94 86.91%);
  }

  .topartist-bg2{
    background: linear-gradient(96deg, #DBE661 -53.15%, #9E9F94 96.78%);
  }

  .topartist-bg3{
    background: linear-gradient(124deg, #DBE661 -79.73%, #9E9F94 96.41%);
  }

  .h-50vh{
    height: 50vh;
  }
